public/video/*.mp4 filter=lfs diff=lfs merge=lfs -text
public/video/*.mov filter=lfs diff=lfs merge=lfs -text
public/video/*.MOV filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.MOV filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
public/images/videos/*.mov filter=lfs diff=lfs merge=lfs -text
public/images/videos/*.MOV filter=lfs diff=lfs merge=lfs -text
public/images/videos/*.mp4 filter=lfs diff=lfs merge=lfs -text
public/images/home/success-stories/*.mov filter=lfs diff=lfs merge=lfs -text
